.container {
  background-color: #2a303c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
}
.main-container {
  width: 100%;
}
.title {
  color: #8d8d8d;
  text-align: center;
  display: block;
}
.sub-title {
  color: white;
}
@media (max-width: 380px) {
  .sub-title {
    text-align: center;
    display: block;
  }
}
