.main-container {
  background-image: url("./background1.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  width: 100%;
}
.main {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-button{
    all:unset
}


